
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Bordered Table</h2>
  <p>The .table-bordered class adds borders to a table:</p>


    <div class="container">
  <h2>{{ articulo.titulo }}</h2>
  <p>{{ articulo.resumen}} </p>
        <br/><br/><br/>
        <p>{{ articulo.contenido}} </p>


        {% for imagene in articulo.imagenes %}

        <img src="{{ imagene.url }}" alt="Mountain View" style="width:304px;height:228px;">
        {% endfor %}

</div>

</div>

</body>
</html>

